Beyond the Twisted  Witten Dream
	  Boundlessness Cries
		 A Crimson NEON Sky
			 Berris' his Staff 
 				deeper still Punctures sound
				 drowning proofs , A Monstrous shine Engulfs
					Boltzman's fists
						 closed upon a Flaming Itto-leis Head
						Maxwellian  Ring Noethernal	
							Kadeisha's Rain
								A Tomb eternal

			
Without appeal to an auxiliary metric, consider the effect of the pullback under $lpf$ of the usual Euclidean metric. The resulting metric is then given by
$$
\left|\frac{\partial f}{\partial z}\right|^{2}|d z+\mu(z) d \bar{z}|^{2}
$$

-> if we have a $L^2$ it is Lebesque closed -> We have a meassure u

Beltrami equation -> ODD Solutions because they are always bounded
 under $ Laplace Beltrami operatoe $ ->ergodic inverse aka log
as $$ \frac{d}{d x}\left[p(x) \frac{d y}{d x}\right]+q(x) y=-\lambda w(x) y $$  for any non trivial Y

$$p(x)d^2y/dx^2 + dp(x)/dx dy/dx - (-q(x)+aw(x)y = 0$$
$$
-> such that for  T+/T-c<=SUM[exp(2K-1).sin(2k-1)dx = -1 +1/3x -1-x^3/5  ...$$
Quasi Conformal mapping

Hyperbolic analystic of Hawrtz triangle

`isometric to  Poincare Disk

$$
\operatorname{arcosh}\left(1+\frac{2|p q|^{2}|r|^{2}}{\left(|r|^{2}-|o p|^{2}\right)\left(|r|^{2}-|o q|^{2}\right)}\right)
$$